
/.idea/
/.idea/compiler.xml
/.idea/misc.xml
/.idea/qaplug_profiles.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/encodings.xml
!/.gitignore
/riotgame-logs.iml
src/test/
target/
/.gitignore
